{
    "fileName": "GRMustacheTemplateRenderMethodsTest.mustache",
    "stringProperty":"{{stringProperty}}",
    "BOOLProperty":{{#BOOLProperty}}true{{/BOOLProperty}}{{^BOOLProperty}}false{{/BOOLProperty}}
}