<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--input</key>
	<array>
		<string>Classes</string>
	</array>
	<key>--output</key>
	<string>Documentation</string>
	<key>--project-name</key>
	<string>GRMustache</string>
	<key>--project-version</key>
	<string>1.6.0</string>
	<key>--project-company</key>
	<string>Gwendal Roué</string>
	<key>--company-id</key>
	<string>com.github.groue</string>
	<key>--create-html</key>
	<true/>
	<key>--create-docset</key>
	<false/>
	<key>--install-docset</key>
	<false/>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--search-undocumented-doc</key>
	<true/>
	<key>--ignore</key>
	<array>
		<string>.m</string>
		<string>_private.h</string>
	</array>
</dict>
</plist>
